<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles.css" rel="stylesheet">
        <script src="htmx.min.js"></script>
    </head>
    <body>
        <h1 class="text-3xl font-bold underline">
            Hello, {{ name }}!
        </h1>
        <button hx-post="/click" hx-swap="outerHTML">Click Me!</button>

        {% include "./components/shared/input.html" %}

    </body>
</html>
